<div class="container">
    <div class="row">
        <form action="" class="form-group row">
            <div class="form-group col-md-3">
                <label for="">Nombre</label>
                <input type="text" name="nombre" id="" placeholder="nombre" class="form-control">
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col">
            <div >
                <table  class="table">
                    <tr>
                        <td>ID</td>
                        <td>NOMBRE</td>
                        <td>APELLIDO</td>
                        <td>CARGO</td>
                        <td>SALARIO</td>
                    </tr>
                    <tr *ngFor="let empleado of empleados; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.cargo}}</td>
                        <td>{{empleado.salario}}</td>
                    </tr>
                </table>
                
            </div>
        </div>
    </div>
</div>
