<div class="container">
    <div class="row">
        <div class="col">
            <div >
                <table  class="table">
                    <tr>
                        <td>ID</td>
                        <td>NOMBRE</td>
                        <td>APELLIDO</td>
                        <td>CARGO</td>
                        <td>SALARIO</td>
                    </tr>
                    <tr *ngFor="let empleado of empleados; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.cargo}}</td>
                        <td>{{empleado.salario}}</td>
                    </tr>
                </table>
                
            </div>
        </div>
    </div>
</div>
