<div class="row">
    <div class="col">
        <div >
            <table  class="table">
                <tr>
                    <td>ID</td>
                    <td>NOMBRE</td>
                    <td>APELLIDO</td>
                    <td>CARGO</td>
                    <td>SALARIO</td>
                </tr>
                <tr >
                    <td>{{indice+1}}</td>
                    <td>{{empleadoDeLista.nombre}}
                        <tr>
                            <td><app-caracteristicas-empleados (caracteristicasEmpleados)="agregarCaracteristicas($event)" ></app-caracteristicas-empleados></td>
                            <td> 
                                <ul *ngFor="let caracteristicas of arrayCaracteristicas">
                                    <li >{{caracteristicas}} </li>
                                </ul> 
                            </td>
                        </tr>
                    </td>
                    <td>{{empleadoDeLista.apellido}}</td>
                    <td>{{empleadoDeLista.cargo}}</td>
                    <td>{{empleadoDeLista.salario}}</td>
                </tr>
            </table>
            
        </div>
    </div>
</div>
