<div class="row">
    <div class="col">
        <div >
            <ul>
                    <li>
                        #{{indice+1}} {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}
                        <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'1'}" class="btn btn-warning">actualiza</a>
                        <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'2'}" class="btn btn-danger">Elimnar</a>
                    </li>
                        
                        <tr>
                            <li><app-caracteristicas-empleados (caracteristicasEmpleados)="agregarCaracteristicas($event)" ></app-caracteristicas-empleados></li>
                            <li> 
                                <ul *ngFor="let caracteristicas of arrayCaracteristicas">
                                    <li >{{caracteristicas}} </li>
                                </ul> 
                            </li>
                        </tr>
                    
  
                
            </ul>
        </div>
    </div>
</div>
