<div class="row">
    <div class="col">
        <div >
            <table  class="table">
                <tr>
                    <td>ID</td>
                    <td>NOMBRE</td>
                    <td>APELLIDO</td>
                    <td>CARGO</td>
                    <td>SALARIO</td>
                </tr>
                <tr >
                    <td>{{indice+1}}</td>
                    <td>{{empleadoDeLista.nombre}}</td>
                    <td>{{empleadoDeLista.apellido}}</td>
                    <td>{{empleadoDeLista.cargo}}</td>
                    <td>{{empleadoDeLista.salario}}</td>
                </tr>
            </table>
            
        </div>
    </div>
</div>
